@charset "utf-8";
/* CSS Document */

@media screen and (min-width: 1600px)  and (max-width: 1920px) {
	html {
		zoom: 99.1%;
	}
}

@media screen and (min-width: 1580px)  and (max-width: 1900px) {
	html {
		zoom: 98%;
	}
}

@media screen and (min-width: 1280px) and (max-width: 1600px) {
	html {
		zoom: 82.499%;
	}
}

@media screen and (min-width: 1280px) and (max-width: 1580px) {
	html {
		zoom: 80.499%;
	}
}

@media screen and (max-width: 1280px) {
	html {
		zoom: 65.7%;
	}
}

@media screen and (max-width: 1260px) {
	html {
		zoom: 63.7%;
	}
}
