@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'KumbhSans';
	src: local('Kumbh Sans Regular'), url('../fonts/KumbhSans-Regular.eot');
	src: url('../fonts/KumbhSans-Regular.eot?#iefix') format('embedded-opentype'),
    	 url('../fonts/KumbhSans-Regular.svg#KumbhSans-Regular') format('svg'),
    	 url('../fonts/KumbhSans-Regular.ttf') format('truetype'),
    	 url('../fonts/KumbhSans-Regular.woff') format('woff'),
    	 url('../fonts/KumbhSans-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'KumbhSans';
	src: local('Kumbh Sans Light'), url('../fonts/KumbhSans-Light.eot');
	src: url('../fonts/KumbhSans-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KumbhSans-Light.svg#KumbhSans-Light') format('svg'),
         url('../fonts/KumbhSans-Light.ttf') format('truetype'),
         url('../fonts/KumbhSans-Light.woff') format('woff'),
         url('../fonts/KumbhSans-Light.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'KumbhSans';
	src: local('Kumbh Sans Bold'), url('../fonts/KumbhSans-Bold.eot');
	src: url('../fonts/KumbhSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KumbhSans-Bold.svg#KumbhSans-Bold') format('svg'),
         url('../fonts/KumbhSans-Bold.ttf') format('truetype'),
         url('../fonts/KumbhSans-Bold.woff') format('woff'),
         url('../fonts/KumbhSans-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'NotoSans';
	src: local('Noto Sans Regular'), url('../fonts/NotoSans-Regular.eot');
	src: url('../fonts/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
    	 url('../fonts/NotoSans-Regular.svg#NotoSans-Regular') format('svg'),
    	 url('../fonts/NotoSans-Regular.ttf') format('truetype'),
    	 url('../fonts/NotoSans-Regular.woff') format('woff'),
    	 url('../fonts/NotoSans-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NotoSans';
	src: local('Noto Sans Italic'), url('../fonts/NotoSans-Italic.eot');
	src: url('../fonts/NotoSans-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NotoSans-Italic.svg#NotoSans-Italic') format('svg'),
         url('../fonts/NotoSans-Italic.ttf') format('truetype'),
         url('../fonts/NotoSans-Italic.woff') format('woff'),
         url('../fonts/NotoSans-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'NotoSans';
	src: local('Noto Sans Bold'), url('../fonts/NotoSans-Bold.eot');
	src: url('../fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NotoSans-Bold.svg#NotoSans-Bold') format('svg'),
         url('../fonts/NotoSans-Bold.ttf') format('truetype'),
         url('../fonts/NotoSans-Bold.woff') format('woff'),
         url('../fonts/NotoSans-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'NotoSans';
	src: local('Noto Sans Bold Italic'), url('../fonts/NotoSans-BoldItalic.eot');
	src: url('../fonts/NotoSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NotoSans-BoldItalic.svg#NotoSans-Bold') format('svg'),
         url('../fonts/NotoSans-BoldItalic.ttf') format('truetype'),
         url('../fonts/NotoSans-BoldItalic.woff') format('woff'),
         url('../fonts/NotoSans-BoldItalic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}

body, html {
	margin: 0;
	padding: 0;
}

.table-background_1 {
	position: relative;
	width: 1920px;
	height: 970px;
	left: 0px;
	top: 0px;

	background: url("../img/front.png") no-repeat center top;
    background-size: cover;
	background-position: 50% 50%;
	border: 0px;
	box-sizing: border-box;
	/* filter: blur(7px); */
	border-collapse: collapse;
	
	overflow-x: auto;
	overflow-y: hidden;
}

.table-background_2 {
	position: relative;
	width: 1920px;
	height: 970px;
	left: 0px;
	top: 0px;

	background: url("../img/car.png") no-repeat center top;
    background-size: cover;
	background-position: 50% 50%;
	border: none;
	
	overflow: hidden;
}

.table-background_3 {
	position: relative;
	width: 1920px;
	height: 970px;
	left: 0px;
	top: 0px;

	background: #FFFFFF;
	border: none;
	
	overflow: hidden;
}

.table-background_4 {
	position: relative;
	width: 1920px;
	height: 970px;
	left: 0px;
	top: 0px;

	background: url("../img/cinema.png") no-repeat center top;
    background-size: cover;
	background-position: 50% 50%;
	border: none;
	
	overflow: hidden;
}

.table-background_5 {
	position: relative;
	width: 1920px;
	height: 970px;
	left: 0px;
	top: 0px;

	background: #333333;
    background-size: cover;
	background-position: 50% 50%;
	border: none;
	
	overflow: hidden;
}

.table-background_6 {
	position: relative;
	width: 1920px;
	height: 250px;
	left: 0px;
	top: 0px;

	background: #222222;
    background-size: cover;
	background-position: 50% 50%;
	border: none;
	
	overflow: hidden;
}

.tr-head-1 {
	position: relative;
	width: 100%;
	height: 130px;
	left: 0px;
	top: 0px;

	background: rgba(129, 121, 158, 0.35);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);		
}

.tr-head-2 {
	position: relative;
	width: 100%;
	height: 10vh;
	left: 0px;
	top: 0px;
}

.tr-head-3 {
	position: relative;
	width: 100%;
	height: 99vh;
	left: 0px;
	top: 0px;		
}

.tr-head-4 {
	position: relative;
	width: 100%;
	height: 130px;
	left: 0px;
	top: 0px;		
}

.tr-head-5 {
	position: relative;
	width: 100%;
	height: 130px;
	left: 0px;
	top: 0px;		
}

.tr-head-6 {
	position: relative;
	width: 100%;
	height: 182px;
	left: 0px;
	top: 0px;		
}

.td1-content {
	position: absolute;
	width: 1317px;
	height: 131px;
	left: 120px;
	bottom: 90px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: bold;
	font-size: 92px;
	line-height: 131px;


	color: #FFFFFF;
}

.td1-content1 {
	position: absolute;
	width: 31px;
	height: 24px;
	right: 120px;
	bottom: 110px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 22px;

	color: #FFFFFF;
}

.td2-content1 {
	position: absolute;
	width: 652px;
	height: 260px;
	left: 95px;
	top: 245px;
	
	background: rgba(40, 40, 40, 0.7);
	filter: blur(80px);
}

.td2-content2 {
	position: absolute;
	width: 652px;
	height: 260px;
	left: 95px;
	top: 245px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 65px;

	color: #EABC04;
}

.td2-content3 {
	position: absolute;
	width: 306px;
	height: 80px;
	left: 120px;
	bottom: 120px;
}

.td2-content4 {
	position: absolute;
	width: 80px;
	height: 80px;
	left: 0px;
	top: 0px;
	
	background: url("../img/icons/car/play.png");
	border: none; 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.td2-content5 {
	position: absolute;
	width: 201px;
	height: 66px;
	left: 95px;
	top: 10px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;
	display: flex;
	align-items: center;

	color: #FFFFFF;
}

.td3-content {
	position: absolute;
	width: 740px;
	height: 740px;
	left: 0px;
	top: 0px;
}

.td3-content1 {
	position: absolute;
	width: 590px;
	height: 65px;
	left: 185px;
	top: 40px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 48px;

	color: #000000;
}

.td3-content-poisk {
	position: absolute;
	width: 606px;
	height: 50px;
	left: 120px;
	top: 140px;
	
	background: #EFEFEF;
	
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.td3-content-poisk1 {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 30px;
	top: 10px;
	
	background: url("../img/icons/choose car/pin.png");
	border: none; 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.td3-content-poisk2 {
	position: absolute;
	width: 304px;
	height: 33px;
	left: 60px;
	top: 8px;
	
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;

	display: flex;
	align-items: center;

	color: #565656;
}

.td3-content-kreslo {
	position: absolute;
	width: 600px;
	height: 63px;
	left: 120px;
	top: 707px;
}

.td3-content-kreslo1 {
	position: absolute;
	width: 181px;
	height: 33px;
	left: 0px;
	top: 0px;
	
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;

	display: flex;
	align-items: flex-end;
	text-align: center;

	color: #000000;
}

.td3-content-kreslo2 {
	position: absolute;
	width: 333px;
	height: 30px;
	left: 0px;
	top: 33px;
	
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 30px;

	display: flex;
	align-items: flex-end;
	text-align: center;

	color: #979491;
}

.td3-content-kreslo3 {
	position: absolute;
	width: 70px;
	height: 70px;
	right: 0px;
	top: 0px;
	
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 62px;
	text-decoration: none;
	
	color: #000000;
}

.td3-content2 {
	position: absolute;
	width: 224px;
	height: 80px;
	left: 120px;
	top: 230px;

	background: url("../img/icons/choose car/econom.png");
}

.td3-content3 {
	position: absolute;
	width: 94px;
	height: 26px;
	left: 155px;
	top: 335px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 26px;
	text-decoration: none;

	color: #000000;
}

.td3-content4 {
	position: absolute;
	width: 225px;
	height: 80px;
	left: 120px;
	top: 474px;

	background: url("../img/icons/choose car/minivan.png");
}

.td3-content5 {
	position: absolute;
	width: 94px;
	height: 26px;
	left: 155px;
	top: 579px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 26px;
	text-decoration: none;

	color: #000000;
}

.td3-content6 {
	position: absolute;
	width: 224px;
	height: 80px;
	left: 480px;
	top: 230px;

	background: url("../img/icons/choose car/comfy.png");
}

.td3-content7 {
	position: absolute;
	width: 112px;
	height: 26px;
	left: 515px;
	top: 335px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 26px;
	text-decoration: none;

	color: #000000;
}

.td3-content8 {
	position: absolute;
	width: 224px;
	height: 80px;
	left: 480px;
	top: 474px;

	background: url("../img/icons/choose car/business.png");
}

.td3-content9 {
	position: absolute;
	width: 89px;
	height: 26px;
	left: 526px;
	top: 579px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 26px;
	text-decoration: none;

	color: #000000;
}

.td3-content10-1 {
	position: absolute;
	width: 372px;
	height: 80px;
	left: 226px;
	top: 820px;

	background: #FFC933;
	border-radius: 40px;
}

.td3-content10-2 {
	position: absolute;
	width: 173px;
	height: 36px;
	left: 325px;
	top: 840px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	text-align: center;
	text-decoration: none;

	color: #000000;
}

.td3-content11 {
	position: absolute;
	width: 850px;
	height: 850px;
	right: 60px;
	top: 60px;

	background: url("../img/icons/choose car/map.png");
}

.td4-content1 {
	position: absolute;
	width: 1014px;
	height: 195px;
	left: 120px;
	top: 120px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 65px;

	color: #A890BB;
}

.td4-content2 {
	position: absolute;
	width: 1436px;
	height: 130px;
	right: 120px;
	bottom: 100px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 65px;
	text-align: right;

	color: #FFFFFF;
}

.td5-content1 {
	position: absolute;
	width: 702px;
	height: 87px;
	left: 120px;
	top: 70px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 87px;

	color: #A890BB;

}

.td5-content2 {
	position: absolute;
	width: 100%;
	height: 120px;
	left: 0px;
	top: 180px;

	background: #292929;
}

.td5-content3 {
	position: absolute;
	width: 170px;
	height: 60px;
	left: 120px;
	top: 23px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 44px;
	line-height: 60px;

	display: flex;
	align-items: center;

	color: #FFFFFF;
}

.td5-content4 {
	position: absolute;
	width: 125px;
	height: 60px;
	left: 368px;
	top: 23px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 44px;
	line-height: 60px;

	display: flex;
	align-items: center;

	color: #FFFFFF;
}

.td5-content-poisk {
	position: absolute;
	width: 700px;
	height: 70px;
	right: 120px;
	top: 25px;
	
	background: #EFEFEF;
	
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.td5-content-poisk1 {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 19px;
	top: 19px;
	
	background: url("../img/icons/choose film/loupe.png");
	border: none; 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.td5-content-poisk2 {
	position: absolute;
	width: 127.79px;
	height: 42px;
	left: 117.35px;
	top: 17px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 49px;
	display: flex;
	align-items: flex-end;
	text-align: center;

	color: #000000;
}

.td5-content-film {
	position: absolute;
	width: 360px;
	height: 540px;
	left: 20px;
	top: 340px;
}

.td5-content-film1 {
	position: absolute;
	width: 360px;
	height: 540px;
	left: 100px;
	top: 0px;

	background: url("../img/icons/choose film/onemore.jpg");
}

.td5-content-film1-1 {
	position: absolute;
	width: 360px;
	height: 200px;
	left: 100px;
	bottom: 0px;

	background: rgba(39, 39, 39, 0.6);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(15px);
}

.td5-content-film1-1-1 {
	position: absolute;
	width: 191px;
	height: 33px;
	left: 30px;
	top: 30px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;

	display: flex;
	align-items: flex-end;
	text-align: center;

	color: #FFFFFF;
}

.td5-content-film1-1-2 {
	position: absolute;
	width: 191px;
	height: 33px;
	left: 30px;
	top: 73px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 27px;
	
	display: flex;
	align-items: flex-end;
	text-align: center;

	color: #9E9C9C;
}

.td5-content-film2 {
	position: absolute;
	width: 360px;
	height: 540px;
	left: 540px;
	top: 0px;

	background: url("../img/icons/choose film/parasites.jpg");
}

.td5-content-film2-1 {
	position: absolute;
	width: 360px;
	height: 200px;
	left: 540px;
	bottom: 0px;

	background: rgba(39, 39, 39, 0.6);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(15px);
}


.td5-content-film2-1-1 {
	position: absolute;
	width: 191px;
	height: 33px;
	left: 30px;
	top: 30px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;

	display: flex;
	align-items: flex-end;
	text-align: center;

	color: #FFFFFF;
}

.td5-content-film2-1-2 {
	position: absolute;
	width: 191px;
	height: 33px;
	left: 30px;
	top: 73px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 27px;
	
	display: flex;
	align-items: flex-end;
	text-align: center;

	color: #9E9C9C;
}

.td5-content-film3 {
	position: absolute;
	width: 360px;
	height: 540px;
	left: 980px;
	top: 0px;

	background: url("../img/icons/choose film/ove.jpg");
}

.td5-content-film3-1 {
	position: absolute;
	width: 360px;
	height: 200px;
	left: 980px;
	bottom: 0px;

	background: rgba(39, 39, 39, 0.6);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(15px);
}

.td5-content-film3-1-1 {
	position: absolute;
	width: 291px;
	height: 33px;
	left: 30px;
	top: 30px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;

	display: flex;
	align-items: flex-end;
	text-align: center;

	color: #FFFFFF;
}

.td5-content-film3-1-2 {
	position: absolute;
	width: 191px;
	height: 33px;
	left: 30px;
	top: 73px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 27px;
	
	display: flex;
	align-items: flex-end;
	text-align: center;

	color: #9E9C9C;
}

.td5-content-film4 {
	position: absolute;
	width: 360px;
	height: 540px;
	left: 1420px;
	top: 0px;

	background: url("../img/icons/choose film/oneplusone.jpeg");
}

.td5-content-film4-1 {
	position: absolute;
	width: 360px;
	height: 200px;
	left: 1420px;
	bottom: 0px;

	background: rgba(39, 39, 39, 0.6);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(15px);
}

.td5-content-film4-1-1 {
	position: absolute;
	width: 191px;
	height: 33px;
	left: 30px;
	top: 30px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;

	display: flex;
	align-items: flex-end;
	text-align: center;

	color: #FFFFFF;
}

.td5-content-film4-1-2 {
	position: absolute;
	width: 191px;
	height: 33px;
	left: 30px;
	top: 73px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 27px;
	
	display: flex;
	align-items: flex-end;
	text-align: center;

	color: #9E9C9C;
}

.td5-content-film-list {
	position: absolute;
	width: 101px;
	height: 12px;
	left: 700px;
	top: 600px;
}

.td5-content-film-list-1 {
	position: absolute;
	width: 12px;
	height: 12px;
	top: 0px;
	left: 0px;
		
	background: #6F6F6F;
	border-radius: 50%;
}

.td5-content-film-list-2 {
	position: absolute;
	width: 12px;
	height: 12px;
	left: 46px;
	top: 0px;
		
	background: #FFFFFF;
	border-radius: 50%;
}

.td5-content-film-list-3 {
	position: absolute;
	width: 12px;
	height: 12px;
	left: 92px;
	top: 0px;

	background: #FFFFFF;
	border-radius: 50%;
}

.td5-content-film-list-4 {
	position: absolute;
	width: 70px;
	height: 70px;
	right: 0px;
	top: 580px;
	
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 62px;
	text-decoration: none;
	
	color: #FFFFFF;
}

.logo-cinema {
	position: absolute;
	width: 185px;
	height: 130px;
	left: 0px;
	top: 5px;

	background: url("../img/icons/logo.png");
	border: none; 
}

.front {
	position: absolute;
	width: 92%;
	height: 130px;
	left: 120px;
	top: 0px;	
}

.footer {
	position: absolute;
	width: 92%;
	height: 250px;
	left: 50px;
	top: 0px;	
}

.text {
	position: absolute;
	width: 736px;
	height: 38px;
	left: 250px;
	top: 50px;
}

.text-index {	
	position: absolute;
	width: 122px;
	height: 36px;
	left: 0px;
	top: 0px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 38px;
	
	color: #FFFFFF;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-index:hover {	
	position: absolute;
	width: 122px;
	height: 36px;
	left: 0px;
	top: 0px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 38px;
	
	color: #FFFFFF;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	
	text-decoration: underline;	
	text-decoration-line: underline;
}

.text-ONAS {	
	position: absolute;
	width: 90px;
	height: 36px;
	left: 130px;
	top: 0px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 38px;
	text-decoration: none;

	color: #FFFFFF;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-ONAS:hover {	
	position: absolute;
	width: 90px;
	height: 36px;
	left: 130px;
	top: 0px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 38px;
	
	color: #FFFFFF;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	
	text-decoration: underline;	
	text-decoration-line: underline;
}

.text-CARS {	
	position: absolute;
	width: 90px;
	height: 36px;
	left: 228px;
	top: 0px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 38px;
	text-decoration: none;
	
	color: #FFFFFF;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-CARS:hover {	
	position: absolute;
	width: 90px;
	height: 36px;
	left: 228px;
	top: 0px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 38px;
	
	color: #FFFFFF;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	
	text-decoration: underline;	
	text-decoration-line: underline;
}

.text-SEANS {	
	position: absolute;
	width: 90px;
	height: 36px;
	left: 378px;
	top: 0px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 38px;
	text-decoration: none;
	
	color: #FFFFFF;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-SEANS:hover {	
	position: absolute;
	width: 90px;
	height: 36px;
	left: 378px;
	top: 0px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 38px;
	
	color: #FFFFFF;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	
	text-decoration: underline;	
	text-decoration-line: underline;
}

.text-KONTAKTS {	
	position: absolute;
	width: 90px;
	height: 36px;
	left: 508px;
	top: 0px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 38px;
	text-decoration: none;
	
	color: #FFFFFF;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-KONTAKTS:hover {	
	position: absolute;
	width: 90px;
	height: 36px;
	left: 508px;
	top: 0px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 38px;
	
	color: #FFFFFF;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	
	text-decoration: underline;	
	text-decoration-line: underline;
}

.profile-general {
	position: absolute;
	width: 42px;
	height: 42px;
	right: 44px;
	top: 44px;

	background: url("../img/icons/front/profile.png");
}

.topbutton {
	position: absolute;
	width: 100px;
	
	border: 2px solid #ccc;
	background: #333;
	
	text-align: center;
	padding: 5px;
	right:	10px;
	cursor:	pointer;
	
	font-family: 'NotoSans';
	font-size:	18px;
	
	color: #FFFFFF;
	text-decoration: none;	
	
	bottom:	10px;
	border-radius: 5px;
}

.topbutton:hover {
	position: absolute;
	width: 100px;
	
	border: 2px solid #ccc;
	background: #333;
	
	text-align: center;
	padding: 5px;
	right:	10px;
	cursor:	pointer;
	
	font-family: 'NotoSans';
	font-size:	18px;
	
	color: #FFFFFF;
	text-decoration: underline;	
	text-decoration-line: underline;
	
	bottom:	10px;
	border-radius: 5px;	
}

.text-News {
	position: absolute;
	width: 100px;
	height: 33px;
	left: 40px;
	top: 5px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;

	color: #FFFFFF;
	text-decoration: none;
}

.text-News:hover {
	position: absolute;
	width: 100px;
	height: 33px;
	left: 40px;
	top: 5px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;

	color: #FFFFFF;
	text-decoration: underline;	
	text-decoration-line: underline;
}

.text-Contacts {
	position: absolute;
	width: 113px;
	height: 33px;
	left: 160px;
	top: 5px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;

	color: #FFFFFF;
	text-decoration: none;
}

.text-Contacts:hover {
	position: absolute;
	width: 113px;
	height: 33px;
	left: 160px;
	top: 5px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;

	color: #FFFFFF;
	text-decoration: underline;	
	text-decoration-line: underline;
}

.text-Learn-about-security {
	position: absolute;
	width: 271px;
	height: 33px;
	left: 290px;
	top: 5px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;

	color: #FFFFFF;
	text-decoration: none;
}

.text-Learn-about-security:hover {
	position: absolute;
	width: 271px;
	height: 33px;
	left: 290px;
	top: 5px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;

	color: #FFFFFF;
	text-decoration: underline;	
	text-decoration-line: underline;
}

.text-Download-the-app {
	position: absolute;
	width: 270px;
	height: 33px;
	left: 580px;
	top: 5px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;

	color: #FFFFFF;
	text-decoration: none;
}

.text-Download-the-app:hover {
	position: absolute;
	width: 270px;
	height: 33px;
	left: 580px;
	top: 5px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;

	color: #FFFFFF;
	text-decoration: underline;	
	text-decoration-line: underline;
}

.image-YouTube {
	position: absolute;
	width: 38px;
	height: 28px;
	left: 1410px;
	top: 55px;
	
	background: url("../img/icons/footer/iconYT.png");
	border: none; 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.image-Facebook {
	position: absolute;
	width: 20px;
	height: 36px;
	left: 1510px;
	top: 51px;
	
	background: url("../img/icons/footer/iconFB.png");
	border: none; 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.image-Twitter {
	position: absolute;
	width: 38px;
	height: 30px;
	left: 1610px;
	top: 54px;
	
	background: url("../img/icons/footer/iconTW.png");
	border: none; 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.image-VKontakte {
	position: absolute;
	width: 40px;
	height: 24px;
	left: 1710px;
	top: 57px;
	
	background: url("../img/icons/footer/iconVK.png");
	border: none; 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.text-Copyright {
	position: absolute;
	width: 400px;
	height: 27px;
	left: 0px;
	top: 198px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 27px;

	color: #9E9C9C;
}

.text-Rates {
	position: absolute;
	width: 76px;
	height: 27px;
	left: 40px;
	top: 145px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;

	color: #FFFFFF;
	text-decoration: none;
}

.text-Rates:hover {
	position: absolute;
	width: 76px;
	height: 27px;
	left: 40px;
	top: 145px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;

	color: #FFFFFF;
	text-decoration: underline;	
	text-decoration-line: underline;
}

.text-Partners {
	position: absolute;
	width: 100px;
	height: 27px;
	left: 180px;
	top: 145px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;

	color: #FFFFFF;
	text-decoration: none;
}

.text-Partners:hover {
	position: absolute;
	width: 100px;
	height: 27px;
	left: 180px;
	top: 145px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;

	color: #FFFFFF;
	text-decoration: underline;	
	text-decoration-line: underline;
}

.text-Terms-of-use {
	position: absolute;
	width: 380px;
	height: 27px;
	left: 340px;
	top: 145px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;

	color: #FFFFFF;
	text-decoration: none;
}

.text-Terms-of-use:hover {
	position: absolute;
	width: 380px;
	height: 27px;
	left: 340px;
	top: 145px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;

	color: #FFFFFF;
	text-decoration: underline;	
	text-decoration-line: underline;
}

.text-License-agreement {
	position: absolute;
	width: 400px;
	height: 27px;
	left: 760px;
	top: 145px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;

	color: #FFFFFF;
	text-decoration: none;

}

.text-License-agreement:hover {
	position: absolute;
	width: 400px;
	height: 27px;
	left: 760px;
	top: 145px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;

	color: #FFFFFF;
	text-decoration: underline;	
	text-decoration-line: underline;

}

.text-Privacy-policy {
	position: absolute;
	width: 400px;
	height: 27px;
	left: 1130px;
	top: 145px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;

	color: #FFFFFF;
	text-decoration: none;
}

.text-Privacy-policy:hover {
	position: absolute;
	width: 400px;
	height: 27px;
	left: 1130px;
	top: 145px;

	font-family: 'NotoSans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;

	color: #FFFFFF;
	text-decoration: underline;	
	text-decoration-line: underline;

}